/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

body .bg-img {
    background-image: url(../Service/images/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

.bg-color {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.bg-color .nav-position {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.navbar {
    position: absolute;
    background-color: #111111;
    height: 190%;
    width: 100%;
    max-width: 100%;
    clip-path: circle(0% at 45px 45px);
    z-index: 2;
}


.nav-icon .line {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.nav-icon .line:nth-child(2) {
    width: 100%;
    margin: 7px 0;
    align-self: flex-start;
}

.menu {
    list-style: none;
    /*margin-left: 39%;*/
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 72%;
}

.item {
    margin: 2rem;
    font-weight: 200;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(-15px) scale(1);
    transform-origin: center center;
    opacity: 0;
    text-align: center;
}

/* Navbar */


/* Main Section */
.main-section {
    padding-bottom: 5rem;
}

/* Heading */
.main-section .heading {
    color: #17366B;
    text-align: center;
    margin-top: 123px;
}

.main-section .heading h2 {
    font-weight: 700;
    font-size: 36px;
}

/* IMAGE AND DESCRIPTION */
.main-section .img-nd-description {
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.main-section .img-nd-description h4 {
    color: #CE020A;
    font-weight: 800;
    font-size: 24px;
}

.main-section .img-nd-description p {
    font-weight: 400;
    font-size: 24px;
}

.main-section .img-nd-description .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main-section .img-nd-description .images img {
    margin: 2rem;
}

/* FOOTER */
footer {
    background-color: black;
    bottom: 0;
}

footer .footer {
    text-align: center;
    padding: 1rem;
}

footer .footer p {
    color: white;
    margin: 0;
}


@media screen and (max-width:998px) {
    .main-section .img-nd-description {
        flex-direction: column !important;
        gap: 2rem;
    }
}

@media screen and (max-width:600px) {

    /* NAVBAR MENU */
    .menu {
        top: 59%;
    }
}