/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
    color: #000000;
}

/* NAVBAR */
.bg-color .nav-position {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.navbar {
    position: absolute;
    background-color: #111111;
    height: 203%;
    width: 100%;
    max-width: 100%;
    clip-path: circle(0% at 45px 45px);
    z-index: 2;
}


.nav-icon .line {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.nav-icon .line:nth-child(2) {
    width: 100%;
    margin: 7px 0;
    align-self: flex-start;
}

.menu {
    list-style: none;
    /*margin-left: 39%;*/
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 26%;
}

.item {
    margin: 2rem;
    font-weight: 200;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(-15px) scale(1);
    transform-origin: center center;
    opacity: 0;
    text-align: center;
}

/* Navbar */

/* HEADER SECTION */
.header-section .header-img {
    background-image: url(./images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: cover;

}

.header-section .header-img .header-content {
    background-color: rgba(23, 23, 23, 0.9);
}

.header-section .header-img .header-content .join-us {
    padding: 5rem 0rem;
}

/* heder title & text */
.header-section .header-content .join-us {
    margin: 0rem 4rem;
}

.header-section .header-content div h1 {
    color: #D30008;
    font-weight: 700;
}

.header-section .header-content div p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    /* padding: 0 5rem; */
}

/* MAIN SECTION */
/* Buttons */
.main-section .offer-list .category-btn {
    width: min-content !important;
    background-color: #DADEF0;
    color: black !important;
    margin-right: auto;
    border: none;
    outline: none;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}

/* List Buttons */
.main-section .offer-list .lists .category-btn {
    width: min-content !important;
    background-color: black;
    color: white !important;
    margin-right: auto;
    border: none;
    outline: none;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}

.main-section .offer-list .lists div {
    margin-top: 2rem;
}


/* FOOTER */
footer {
    background-color: black;
    bottom: 0;
    margin-top: 3rem;
}

footer .footer {
    text-align: center;
    padding: 1rem;
}

footer .footer p {
    color: white;
    margin: 0;
}

@media screen and (max-width: 700px) {

    /* Navbar */
    .nav-section-p {
        top: 1.5rem !important;
        right: 2rem !important;
    }

    .navbar {
        height: 238%;
    }

    /* NAVBAR MENU */
    .menu {
        top: 18%;
    }


    /* Buttons */
    .main-section .offer-list .buttons {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    /* Offer List */
    .main-section .offer-list .lists div {
        justify-content: center !important;
        align-items: center;
        flex-direction: column;
    }

    .main-section .offer-list .lists hr {
        display: none;
    }


}