/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0.1rem solid transparent;

}

body,
input {
    font-family: 'Poppins', sans-serif;
}

body {

    color: #FFFFFF;



}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.bg-image {
    background-image: url(./images/Background.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: cover;
    /* height: max-content; */
    overflow: hidden;
    /* bottom: -5px; */

}

/* NAVBAR */
.bg-color .nav-position {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.navbar {
    position: absolute;
    background-color: #111111;
    height: 99%;
    width: 100%;
    max-width: 100%;
    clip-path: circle(0% at 45px 45px);
    z-index: 2;
}


.nav-icon .line {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.nav-icon .line:nth-child(2) {
    width: 100%;
    margin: 7px 0;
    align-self: flex-start;
}

.menu {
    list-style: none;
    /*margin-left: 39%;*/
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 38%;
}

.item {
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    font-weight: 200;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.5rem;
    transform: translateY(-15px) scale(1);
    transform-origin: center center;
    opacity: 0;
    text-align: center;
}

.item:hover {
    color: #D30008 !important;
}

/* Navbar */

/* MAIN SECTION */
.main-section {
    padding-bottom: 8rem;
    padding-top: 6rem;

}

/* HEADING */
.main-section .heading {
    text-align: center;
    margin-top: 3rem;
}

.main-section .heading h2 {
    font-weight: 800;
    font-size: 36px;
}

/* IMAGES AND DESCRIPTION  */
.main-section .img-nd-description {
    margin-top: 8rem;

}

/* MIDDLE IMAGE */
.main-section .img-nd-description .middle-section {
    background-image: url(./images/meeting.png);
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;

}

/* IMAGE SLIDER */
.slick-slide {
    height: auto !important;
    max-width: auto !important;
}

/* .main-section .img-nd-description .caption-customize {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-bottom: 0 !important;
} */

.main-section .img-nd-description .carousel-item img {
    width: 100% !important;
    height: 30rem;
}

.main-section .img-nd-description .middle-section div {
    /* padding: 2rem 2rem 1rem 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: rgba(23, 23, 23, 0.89);
}

.main-section .img-nd-description .middle-section .OEC {
    background: transparent;
    padding: 0;
}

.main-section .img-nd-description .middle-section .OEC div {
    background: transparent;
}

/* SIDE IMAGES */
/* .main-section .img-nd-description .image1 img,
.main-section .img-nd-description .image3 img {
    height: 350px;
} */


/* FOOTER */
footer {
    bottom: -5px;
    position: relative;
    width: 100%;
}

footer .footer {
    background-color: black;

    text-align: center;
    padding: 1rem;
}

footer .footer p {
    color: white;
    margin: 0;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {

    /* Office Employee Client */
    .main-section .img-nd-description .middle-section .OEC {
        flex-direction: column !important;
    }

    .main-section .img-nd-description .middle-section .OEC hr {
        display: none;
    }

    .main-section .img-nd-description .caption-customize {
        right: 0;
        left: 0;
        bottom: 0;
        padding-bottom: 0;
    }

    /* NAVBAR MENU */
    .menu {
        top: 20%;
    }

}